.conteudo-index{
    display: flex;
    flex-wrap: wrap;
    max-width: 80vw;
    margin: 5% auto;
}

.conteudo-index img{
    max-width: 100%;
    display: block;

}

.conteudo-index > div{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
}

.conteudo-index div{
    border: 1px solid #171A21;
    border-radius: 10px;
    margin: 5px;
    padding: 1%;
}

.conteudo-index h2{
    text-align: center;
    font-size: 2rem;
    padding: 3%;
    color: #171A21;
}

.conteudo-index figcaption{
    padding: 3%;
    font-size: 1rem;
    text-align: center;
}

.conteudo{
    display: flex;
    flex-wrap: wrap;
    max-width: 80vw;
    margin: 0 auto;
<<<<<<< HEAD
    padding: 2% 0;
}

.conteudo img{
    max-width: 40%;
    display: block;
    padding: 0 3%;
=======
}

.conteudo img{
    max-width: 52%;
    display: block;
>>>>>>> main
}

.conteudo > figure{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
}

.conteudo figure{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    padding: 3%;
<<<<<<< HEAD
}
=======
}
>>>>>>> main
