.conteudo{
    display: flex;
    flex-wrap: wrap;
    max-width: 80vw;
    margin: 5% auto;
}

.conteudo img{
    max-width: 100%;
    display: block;
}

.conteudo > div{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
}

.conteudo div{
    border: 1px solid #171A21;
    border-radius: 10px;
    margin: 5px;
    padding: 1%;
}