@import url(./cabecalho.css);
@import url(./conteudo.css);
<<<<<<< HEAD
@import url(./breakpoint.css);

=======
>>>>>>> main

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    font-size: 80%;
}

<<<<<<< HEAD
.rodape nav{
    display: flex;
    align-items: column;
}
=======
>>>>>>> main
